<form action="/auth/login" method="POST" style="border:1px solid #ccc">
    <div class="container">
        <h1>Login</h1>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>


        <div class="clearfix">
            <button href="/" type="button" class="cancelbtn">Cancel</button>
            <button href="/auth/login" type="submit" class="signupbtn">Login</button>
        </div>
    </div>
</form>