<header>
    <nav>
        <a href="/">Booking</a>
        <ul>
            <li><a href="/auth/signup">signup </a></li>
            <li><a href="/signin">signin</a></li>
        </ul>
    </nav>
</header>